<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
      <add assembly="NLogExtensions.Targets"/>
    </extensions>

    <targets>
      <target xsi:type="AsyncWrapper" name="asyncCommon" queueLimit="500" timeToSleepBetweenBatches="15" batchSize="20" overflowAction="Block">
            <target name="fileCommon"
                    xsi:type="ArchiveFiles"
                    layout="${longdate} [${level:uppercase=true}] [ThreadID=${threadid}] ${newline}${message}${newline}"
                    fileName="C:\Logs\test.log"
                    archiveFileName="C:\Logs\testArchive[{########}].log"
                    archiveDateFormat=""
                    archiveEvery="Minute"
                    filesthreshold="2"
                    compressionlevel="Level9"
                    zipfile="C:\Logs\test[{yyyy-MM-dd}].zip"
                    archiveNumbering="Sequence"
                    maxArchiveFiles="5"
                    concurrentWrites="false"
                    concurrentWriteAttemptDelay="20"
                    concurrentWriteAttempts="20"
                    bufferSize ="16384"
                    autoFlush="false"
                    keepFileOpen="true"
                    lineEnding="Default"/>
      </target>
    </targets>

    <rules>
      <logger name="commonLog" minlevel="Debug" writeTo="asyncCommon" />
    </rules>
  </nlog>

</configuration>